[virt7-docker-common-release]
name=virt7-docker-common-release
baseurl=http://cbs.centos.org/repos/virt7-docker-common-release/x86_64/os/
gpgcheck=0
{% if corp_proxy is defined %}
proxy={{ corp_proxy }}
{% endif %}
